.img-center {
    margin: 0 auto;
}    
#errorlogindiv, #errorUsuariRegistreDiv, #errorContrasenyaRegistreDiv, #error-message, #errorUsuariRegistreDiv2{
	color: #ce2700;
	font-family: Open Sans;
	font-weight: bold;    
}

html, body {
	height: 100%;
}

body {
  clear: both;
}

#noumissatge {
	padding: .5 rem 1 rem;
}

.card {
  height: auto !important;
}


#chatdiv {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

#modal {
  display: none !important;
}

.red-focus-within:focus-within {
  background: #FF3333;
}

#register, #signin {
	background: none;
	color: #0056b3;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

#register:hover, #register:focus, #signin:hover, #signin:focus {
  text-decoration: underline;
}

@media(max-height: 650px) {
  footer {
    display: fixed;
  }
}